
body {
    background-color: #B5D5C5;
    /*background-image: url("../images/colorful-wallpaper.png");*/
}

  h1 {
    color: black;
  }


  h3 {
    color: black;
  }
  

  hr {
    border-style: none;
    border-top-style:dotted;
    border-color: black;
    border-width: 5px;
    width: 25%;
     }